@model SocialResponsibility.UI.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Giriş Yap</h2>

<hr />

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    <div class="form-group">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(i => i.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Parola</label>
        @Html.PasswordFor(i => i.Password, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary" type="submit">Giriş</button>
}

